@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* main */
  --bg: #1a1a1a;
  --fg: #46d5fc;

  /* container */
  --bg-container: #cab58a;
  --bg-container-border: var(--bg-container);
  --sz-container-border: 0.2rem;
  --sz-container-radius: 0.2rem;

  /* cell */
  --bg-cell: #181a1f;
  --bg-cell-hover: #212124;
  --bg-cell-disabled: #25252c;
  --fg-cell-x: #fa4a4a;
  --fg-cell-o: #4afad5;
  --fg-cell-win: #aefa4a;

  /* messages */
  --bg-overlay: #090e13aa;
  --bg-overlay-shadow: #0e151bee;
}

html {
  font-size: 0.625rem;
}

body {
  height: 100vh;
}

main.tic-tac-toe {
  height: 100%;
}

/* .container */
main.tic-tac-toe .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  font-family: 'Dancing Script', cursive;
  font-size: 1.6rem;

  background-color: var(--bg);
  color: var(--fg);
  height: 100%;
  overflow: hidden;
}

/* board */
main.tic-tac-toe .board {
  background-color: var(--bg-container);

  border: var(--sz-container-border) solid var(--bg-container-border);
}

/* board */
.container .board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

/* cells */
.board .cell {
  background-color: var(--bg-cell);
  font-size: 1em;
}

.board .cell::before {
  width: 100%;
  height: 100%;

  cursor: pointer;
  background-color: var(--bg-cell-disabled);
  box-shadow: 0 0 0 var(--bg-container-border) inset;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  font-size: 0.7em;
  border-radius: inherit;

  transition: 0.3s all linear;
}

.board .cell.x::before,
.board .cell.o::before {
  font-size: 1em;
  cursor: default;
}

.board .cell.x::before {
  content: 'x';
  color: var(--fg-cell-x);
  text-shadow: 0 0 0.5rem var(--fg-cell-x);
}

.board .cell.o::before {
  content: 'o';
  color: var(--fg-cell-o);
  text-shadow: 0 0 0.5rem var(--fg-cell-o);
}

.board.x-turn .cell:hover:not(.o):not(.x)::before {
  background-color: var(--bg-cell-hover);
  content: 'x';
  color: var(--fg-cell-x);
  opacity: 0.5;
}

.board.o-turn .cell:hover:not(.o):not(.x)::before {
  background-color: var(--bg-cell-hover);
  content: 'o';
  color: var(--fg-cell-o);
  opacity: 0.5;
}

.board .cell.win::before {
  font-size: 1.5em;
  border-radius: 1em;
  animation: winner-x 2s infinite;
}

.board .cell.o.win::before {
  animation: winner-o 2s infinite;
}

@keyframes winner-x {
  0% {
    border: 0.1em dashed var(--fg-cell-x);
  }
  20% {
    border: 0.2em dashed var(--bg-cell);
  }
  40% {
    border: 0.3em dashed var(--bg-cell);
  }
  60% {
    border: 0.3em dashed var(--bg-cell);
  }
  80% {
    border: 0.2em dashed var(--bg-cell);
  }
  100% {
    border: 0.1em dashed var(--fg-cell-x);
  }
}

@keyframes winner-o {
  0% {
    border: 0.1em dashed var(--fg-cell-o);
  }
  20% {
    border: 0.2em dashed var(--bg-cell);
  }
  40% {
    border: 0.3em dashed var(--bg-cell);
  }
  60% {
    border: 0.3em dashed var(--bg-cell);
  }
  80% {
    border: 0.2em dashed var(--bg-cell);
  }
  100% {
    border: 0.1em dashed var(--fg-cell-o);
  }
}
